:root {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --size: 32;
}

* {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(187, 157, 131);
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  font-size: 2rem;
  height: 4rem;
}

#grid {
  display: flex;
  flex-flow: row wrap;
  gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
  width: min(90vw, 75vh);
  height: min(90vw, 75vh);
  margin: 10px auto;
  padding: 0;
  border: 3px solid black;
  background-color: white;
}

.square {
  border: 1px solid lightgrey;
  width: calc(100% / var(--size));
  height: calc(100% / var(--size));
}

.square:not(.colored):hover {
  background-color: lightgrey;
}

.colored {
  background-color: black;
  border: 1px solid black;
}

.colored:hover {
  background-color: #140124;
}

button {
  width: fit-content;
  height: fit-content;
  padding: .6rem 1rem;
  font-size: 1.2rem;
  background-color: azure;
  border: 2px solid black;
  border-radius: 8px;
}

button:hover {
  background-color: lightgrey;
}

button:active {
  background-color: rgb(103, 106, 145);
}